body{
  text-align: center;
  vertical-align: middle;
}

th{
  background-color: rgb(228, 240, 5);
  color: rgb(87, 87, 83);
  font-weight: bold;
  width:10em;
  text-align: center;
}

td{
  text-align: center;
  vertical-align: middle;
}

.contenedor{
  padding-top: 10em;
  width: 100%;
  text-align: center;
}

table{
  display: inline-block;
}

tr:nth-child(even){
  background-color: #CCC
}
tr:nth-child(odd){
  background: #FFF
}


.encabezadofactura{
  text-align: center;
}

.fechas{
  width: 3em;
}

.seleccionarfecha{
  text-align: center;
}
